.work {
    display: grid;
    width: 1170px;
    height: 474px;
    margin-top: 25px;
}

.work-button-container {
    display: grid;
    height: 43px;
}

.work #button-container button {
    font-size: 20px;
    width: 260px;
    height: 30px;
    transition: 0.6s ease-out;
}

.work #button-container:hover button {
    width: 265px;
    height: 35px;
    transition: 0.6s ease-out;
}

.work-text {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.work-image-container {
    display: flex;
    width: 1170px;
    height: 413px;
    align-content: center;
    text-align: center;
    border-radius: 17px;
}

.work-image-one {
    display: grid;
    justify-content: baseline;
    text-align: start;
    width: 380px;
    height: 178.57px;
    background-color: #202020;
    border-radius: 16.85px;
    margin-top: 32px;
}

.work-image-one-text {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 56px;
    font-weight: 900;
    margin-left: 25px;
    margin-top: 24px;
}

.work-image-one-location {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 650;
    margin-left: 23px;
    margin-top: -30px;
}
.work-image-one-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 23px;
    margin-top: -12px;
    width: 330px;
    line-height: 110%;
    margin-bottom: 22px;
}



.work-image-two {
    display: grid;
    justify-content: baseline;
    text-align: start;
    width: 380px;
    height: 178.57px;
    background-color: #202020;
    border-radius: 16.85px;
    margin-top: 121px;
    margin-left: 15px;
}

.work-image-three {
    display: grid;
    justify-content: baseline;
    text-align: start;
    width: 380px;
    height: 178.57px;
    background-color: #202020;
    border-radius: 16.85px;
    margin-top: 210px;
    margin-left: 15px;
}

