
    #window-wrapper {
    display: grid;
    justify-content: center;
}

#head {
    width: 1170.4px;
    height: 50px;
    margin-bottom: 15px;
}

#block-one {
    display: flex;
    width: 1170px;
    height: 600px;
    align-items: center;
    margin-top: 40px;
}

#block-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 340px;
    margin-top: 25px;
}

#block-tree {
    display: grid;
    justify-content: space-between;
    width: 1170px;
    height: 600px;
    margin-top: 25px;
}

#block-four {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 475px;
}

#block-five {
    display: grid;
    width: 1170px;
    height: 270px;
    justify-content: center;
}

#block-left-box {
    display: grid;
    width: 578px;
    height: 100%;
    margin-right: 15px;
    justify-content: center;
}

#block-comps-one-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-right-box {
    display: grid;
    width: 577px;
    height: 100%;
    border-radius: 25px;
}

#logo-image {
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}


@media screen and (max-width: 1199px) {
    #window-wrapper {
        display: grid;
        justify-items: center; /* Центрирует детей по горизонтали */
        width: 100%;
    }

    #head {
        display: flex;
        justify-content: center; /* центрирование содержимого */
        width: 100%; /* занимает всю ширину */
        margin-bottom: -15px;
    }


    #block-one {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
        gap: 20px;
    }

    #block-two {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 16px;
    }

    #block-tree {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 321px;
        height: auto;
        gap: 12px;
    }

    #block-four {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 440px;
        height: 100%;
        max-height: 441px;
        margin-top: 16px;
    }

    #block-right-box {
        order: -1;
        width: 288.13px;
        height: 299.62px;
        display: grid;
        justify-items: center;
    }

    

    #block-left-box {
        order: 2;
        width: 100%;
        display: grid;
        justify-items: center;
    }

    #logo-image {
        width: 288.13px;
        height: 299.62px;
    }
}
