#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170.4px;
    height: 50px;
    margin-top: 18px;
}

#logo-text-header {
    display: block;
    font-size: 36px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 900;
    filter: drop-shadow(0.5px 0.5px 0.5px rgb(255, 255, 255));
    color: white;
}

#header-nav a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
}

#header-nav:hover a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    filter: drop-shadow(0.5px 0.5px 1.5px rgb(255, 255, 255));
    transition: 0.3s ease;             
}

#right-header-nav {
    display: flex;
    justify-content: end;
    width: 611.4px;
    height: 40px;
    align-items: center;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
}

#button-container-header {
    display: grid;
    justify-content: right;
    width: 210px;
}

#contact-header {
    width: 194.4px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    background-color: #218E0B;
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.4), 
                0 0 6px rgba(255, 255, 255, 0.6);
    border-radius: 22.22px;
    border: 0px;
    transition: 0.6s ease-out;
    color: white;
    cursor: pointer;
}

#contact-header:hover {
    width: 210px;
    height: 40px;
    font-size: 21px;
    background-color: #26A50D;
    color: aliceblue;
    border-radius: 22.22px;
    border: 0px;
    transition: 0.8s ease;
}

@media screen and (max-width: 1199px) {
    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 286px; /* фиксированная ширина блока */
        height: 27.68px;
        margin-top: 18px;
        margin-bottom: 15px;
    }

    #logo-text-header {
        display: none;
    }

    #header-nav a {
        font-size: 10px;
        text-decoration: none;
        font-weight: 600;
        color: white;
        margin-right: 19.67px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.3s ease;
    }

    #right-header-nav {
        display: flex;
        justify-content: center;
        width: 286px;
        height: 26.67px;
        align-items: center;
    }

    #links {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 286px;
    }

    #contact-header {
        width: 105px;
        height: 9px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bold;
        font-size: 12.61px;
        height: 40px;
        background-color: #26A50D;
        color: aliceblue;
        box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.4), 
                    0 0 6px rgba(255, 255, 255, 0.6);
        border-radius: 25px;
        border: 0px;
        transition: 0.7s ease-out;
    }

    #contact-header:hover {
        width: 115px;
        height: 10px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bold;
        font-size: 12px;
        height: 40px;
        background-color: #26A50D;
        box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.4), 
                    0 0 6px rgba(255, 255, 255, 0.6);
        border: 0px;
        color: white;
        cursor: pointer;
        transition: 0.7s ease;
    }


}