#box-wrapper {
    margin-top: 9px;
    display: grid;
    justify-content: center;
    width: 60%;
    align-content: baseline;
    height: 200px;
    border-radius: 25px;
    background-color: #202020;
}

#block-text-header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 207px;
    height: 48px;
}

#percent-header {
    font-size: 39px;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-right: 15px;
}

#speed-header {
    line-height: 100%;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#box-infografic {
    display: grid;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    margin-bottom: 45px;
}


#line-bottom {
    width: 240px;
    height: 2px;
    background-color: #404040;
    margin-bottom: 20px;
}

#infografic-img {
    width: 185px;
    height: 70px;
}